<div class="flex justify-center p-4">
    <div class="shadow-lg p-4 flex w-1/2 ">
        <span class="w-auto flex justify-end items-center text-grey p-2">
            <svg class="h-4 w-4 text-grey-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
            </svg>
        </span>
        <input class="w-full rounded p-2" type="text" placeholder="Try 'Nanatsuno Taizi'">
        <button class="bg-red-400 hover:bg-red-lighter rounded text-white p-2 pl-4 pr-4">
            <p class="font-semibold text-xl">Search</p>
        </button>
    </div>
</div>
<form class="flex justify-center" action="" method="get">
   <div class="bg-blue-100 w-3/4 rounded-lg ">
        <div class="p-4">
            <h3 class="font-bold">Add a Link</h3>
            <label class="block" for="">Title</label>
            <input class="block w-full rounded-md" type="text" #newtitle>
            <label class="block" for="">Link</label>
            <input class="block w-full rounded-md" type="text" #newlink>
        </div>
        <div class="flex justify-end p-4">
            <button (click)="addArticle(newtitle,newlink)" class="bg-green-500 p-2 text-yellow-50 font-semibold rounded-md">Submit Link</button>
        </div>
   </div>
</form>
<section class="container mx-auto grid grid-cols-3 gap-2 w-3/4">
    <app-article
        *ngFor="let foobar of sortedArticles()"
        [article]="foobar">
    >
    </app-article>
</section>